li {
    list-style: none;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

button {
    background-color: steelblue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 2px;
}

.activeButton {
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}

.isDone {
    opacity: 0.7;
}

.Todolist {
    display: inline-block;
    width: 100%;
}